* {
	margin: auto;
}

body {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.center {
	display: table-cell;
	vertical-align: middle;
}

#message {
	font-family: 'Montserrat Alternates', sans-serif;
	color: #71ba60;
	text-align: center;
	margin: 15px;
}

#board {
	margin-left: auto;
	margin-right: auto; 
	border-collapse: collapse;
}

#board tr:first-child {
	border-top: none;
}

#board td {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border: 4px solid #71ba60;
	background-color: #ceedc7;
	padding: 10px;
	width: 30px;
	height: 30px;
	border-radius: 5px;
}

#board tr:last-child td {
	border-bottom: none;
}

#board tr td:first-child {
	border-left: none;
}

#board tr td:last-child {
	border-right: none;
}

#board tr:first-child td {
	border-top: none;
}

.X {
	color: blue;
}

.O {
	color: red;
}